services:

  node:
    container_name: ${COMPOSE_PROJECT_NAME}_node
    image: aabrioux/golem-node:latest
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data-node/ya-provider/:/root/.local/share/ya-provider/
      - ./data-node/yagna/:/root/.local/share/yagna/
    devices:
      - /dev/kvm:/dev/kvm
    environment:
      - YA_PAYMENT_NETWORK=${YA_PAYMENT_NETWORK}
      - YA_ACCOUNT=${YA_ACCOUNT}
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.golem-clean.schedule: "@daily"
      ofelia.job-exec.golem-clean.command: "find /root/.local/share/ya-provider/exe-unit/cache/ -mtime +7 -type f -exec rm {} +"
