name: Upgrade Yagna

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: update-versions
        uses: ./.github/actions/update-versions
      - if: steps.update-versions.outputs.changes != '0'
        run: |
          YA_RESOURCES_VERSION=$(curl -s https://api.github.com/repos/golemfactory/ya-installer-resources/releases/latest | jq -r .tag_name | sed 's/v//')
          sed -i -E "s/(ARG YA_RESOURCES_VERSION=)\S+/\1${YA_RESOURCES_VERSION}/" docker/Dockerfile
      - if: steps.update-versions.outputs.changes != '0'
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          commit-message: "chore: upgrade Yagna to v${{ steps.update-versions.outputs.version }}"
          title: "chore: upgrade Yagna to v${{ steps.update-versions.outputs.version }}"
          branch: patch/yagna-${{ steps.update-versions.outputs.version }}
          reviewers: ${{ github.repository_owner }}
          delete-branch: true
          sign-commits: true
